<html>
<head>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../views/css/temp.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1><%= title %></h1>			
	<a href="http://localhost:8080/">Home</a><br><br><hr> 
	<form action="http://localhost:8080/edit_save" method="post">
 		<input type="hidden" name="con_id"  value="<%= rows[0].con_id %>" ><br><br> 
		Name   : <input type="text" name="con_name"  value="<%= rows[0].con_name %>" required ><br><br> 
		Mobile : <input type="number" name="con_num" value="<%= rows[0].con_num  %>" required ><br><br>
		         <input type="submit" value="Update Contacts">
	</form>
</body>
</html>